#wrapper {
    

}
#div1 {
    display: inline-block;
    
    width:65%;
    height:600px;
    margin-right: 60px;
    
}
#div2 {
    vertical-align:top;
    display: inline-block;
    width:25%;
    height:600px;
    background-color:black;
    border: 1px solid green;
}