
/* maybe make background color be a random color */
.tag-item{
    background-color: rgb(218, 216, 216);
    display: inline-block;
    padding: .5em .75em;
    border-radius: 20px;
}
.tag-item .close{
    height: 20px;
    width: 20px;
    color: black;
    /* background-color: black; */
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: .35em;
    margin-top: .15em;
    font-size: 15px;
    cursor: pointer;
}

.tags-input{
    flex-grow: 1;
    padding: .5em 0;
    border: none;
    outline: none;
    background-color: white;

}
.tags-input::placeholder{
    font-family: 'Radio Canada';
    padding-left: 10px;
    font-size: 15px;
    color: #B5B7BA
}

.p-2{
    margin-top: 0px;
}

