.column {
  float: left;
  
  border: 2px solid black;
  width: 25%;
  height: 60px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 5px;
}
.hiddenColumn{
  float: left;
  
  border: 2px solid white;
  width: 25%;
  height: 60px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 5px;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


#title{
  font-weight:bold;
  font-family: 'Radio Canada';
  float: left;
  margin-top: 2px;
  color: #8D8D8D;
}
#info{
  float: left;
  font-family: 'Radio Canada';
  margin-top: -22px;
  font-weight: bold;
}

#open_chat{
  background-color: #3E74DC;
  color: white;
  font-family: 'Radio Canada';
  font-weight: bold;
  width: 110%;
  margin-left: -10px;
  height: 60px;
  border-radius: 5px;
  border: none;
  
}