#button1{
    margin-left:10px !important;
    font-family: 'Radio Canada';
    font-weight: bold;
    
}
#r1{
    margin-top:10px;
    font-family: 'Radio Canada';
}
#r2{
    margin-top:10px;
    font-family: 'Radio Canada';
}
#r3{
    margin-top:10px;
    font-family: 'Radio Canada';
}